html {
    background-color: #EFEFEF;
}
body {
    font-family: Merriweather, Tahoma, Geneva, sans-serif;
    padding: 0;
    margin: 0;
    padding-top: 0px;
}

#document {
    font-family: 'Merriweather';
    font-weight: 300;
}

#document h1,h2,h3,h4,h5,h6 {
    font-family: 'Bitter', 'Merriweather', 'Times New Roman', serif;
    font-weight: bolder;
}

b {
    font-weight: bold;
}

#document a, a:hover, a:active, a:visited {
    color: #66a8ef;
    text-decoration: none;
}

#main {
    padding-top: 0px;
    padding-bottom: 15px;
    margin-bottom: 0;
    width: 980px;
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    border: 1px solid;
    border-color: LightGray;
}

#document {
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    font-family: Source Sans Pro;
    color: #353535;
}



.topbar .topbar-inner .container {
    width: 980px;
}

#topbar-inner {
    width: 980px;
    height: 22px;
    padding-bottom: 9px;
    padding-top: 9px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:22px;
    background-color: rgba(2, 2, 2, 0.6);
    z-index: 1000;
}


#topbar {
    margin-left: auto;
    margin-right: auto;
    width: 980px;
    color: #FFFFFF;
    height: 300px;
    background-color: #222;
    color: rgba(1, 1, 1, 0.8);
    background-image: url('../banner.jpg');
    overflow: hidden;
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: LightGray;
}

.container {
    position: relative;
}

#search {
    position: absolute; 
    right: 0px;
}

#stripe {
    width: 980px;
    top: 300px;
    margin-left: auto;
    margin-right:auto ;
    height: 4px;
    background-color: #353535;
    z-index: 1000;
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: LightGray;
}

#topbar a {
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2px;
    max-height: 26px;
    color: #C0C0C0;
    text-decoration: none;
    float: left;
    overflow:hidden;
    font-family: Merriweather, Tahoma, Geneva, sans-serif;
    text-transform: lowercase;
}

.active {
    color: #FFF;
}

#topbar a:hover,a:visited,a:active {
    color: #FFF;
}

#right {
    margin-right: 0px;
    margin-left: auto;
    float right;
}

#topbar p {
    font-size: 14px;
    position: absolute;
    float right;
    color: white;
    font-weight: normal;
    padding-top: 2px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
}

article {
    padding-bottom: 12px;
}

article img {
    width: 1em;
    margin-left: auto;
    margin-right: auto;
}

#topbar h3 {
    margin-top: 0px;
    margin: 0;
    font-size: 14px;
}

#topbar input {
    padding-left: 5px;
    padding-top: 2px;
    margin: 0;
}

#topbar-inner img {
    float: left;
    height: 30px;
    width: auto;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: -5px;
}

#sidebar {
    width: 250px;
    height: 100%;
    padding-left: 26px;
    padding-right: 0;
    text-align: justify;
     display: inline-block;
    vertical-align: top;
}

#sidebar img {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#sidebar h3 {
    text-transform: capitalize;
}

#sidebar iframe {
    width: 200px;
    height: 142px;
}

#content {
    display: inline-block;
    vertical-align: top;
    width: 620px;
    line-height: 1.2em;
}

#byline {
    padding-top: 32px;
    padding-bottom: 28px;
}

.headline {
    padding-top: 36px;
    padding-bottom: 28px;
}

.hline {
    color: #353535 !important;
}

.entry-title {
    color: #171717 !important;
    line-height: 1.2em;
}

.entry-title a, a:visited, a:hover, a:active {
    color: #353535;
}

.index-title {
    padding-top: 36px;
    padding-bottom: 28px;
}

.old-titles {
    font-family: Source Sans Pro;
    font-weight: bold;
}

#inner {
    padding-left: 30px;
    padding-right: 30px;
}

.foot-divider {
    width: 980px;
    height: 1px;
    background-color: LightGray;
    float: center;
    margin-left: auto;
    margin-right: auto;
    z-index: 997;
    position: relative;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: LightGray;
    float: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.ribbon {
    background-color: #66a8ef;
    width: 980px;
    height: 2px;
    z-index: 998;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}


#footer {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4px;
    z-index: 50;
    padding-bottom: 4px;
}

#foot-text {
    width: 640px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.7em;
    color: Gray;
    line-height: 80%;
}

#footer a,a:visited,a:hover,a:active {
    color: Gray;
}

.codehilite {
    width: 620px;
    overflow: scroll;
    word-wrap: break-words;
    font-family: Monaco, monospace;
}

.date {
    font-family: Monaco, monospace;
    font-size: 0.8em;
    padding-right: 15px;
}
