<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
    <meta name="author" content="{{ AUTHOR }}" />
    <meta name="keywords" content="{% for tag, null in tags %} {{ tag }},{% endfor %}"/>
    <meta name="description" content="" />
    <link href="{{ SITEURL }}/theme/css/index.css" rel="stylesheet" />
    <link rel="shortcut icon" href="{{ SITEURL }}/static/favicon.ico" type="image/x-icon" />
    {% if FEED_RSS %}
        <link href="{{ SITEURL }}/{{ FEED_RSS }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}

    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,900,300,700' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Bitter:700' rel='stylesheet' type='text/css' />

</head>
<body id="index" class="home">
    <div class="topbar" id="topbar">
        <div id="topbar-inner" class="topbar-inner">
            <div class="container">
                <nav>
                    {% if SITE_LOGO %} <img src="{{ SITE_LOGO }}"> {% endif %}
                    <a href="{{ SITEURL }}">{{ SITENAME }}</a>
                    {% if LINKS %}
                        {% for name,link in LINKS %}
                            <a href="{{ link }}">{{ name }}</a>
                        {% endfor %}
                    {% endif %}
                    {% if DISPLAY_PAGES_ON_MENU %}
                        {% for page in PAGES %}
                            <a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a>
                        {% endfor %}
                    {% endif %}
                </nav>
            </div>
        </div>
    </div>
    <div id="stripe"></div>
    <div id="main">
        <div id="document">
            {% block headline %}
            {% endblock %}
            <div id="content">
                {% block content %}
                {% endblock %}
            </div>
            <aside id="sidebar">
                {% if ABOUT %}
                <h3>About</h3>
                {% if USERPIC %}
                    <img src="{{ SITEURL }}/static/images/{{ USERPIC }}" />
                {% endif %}
                    <p>{{ ABOUT }}</p>
                {% endif %}
                <p><a href="{{ SITEURL }}/archives.html">Archive</a></p>
                <p><a href="{{ SITEURL }}/categories.html">Categories</a></p>
                <p><a href="{{ SITEURL }}/tags.html">Tags</a></p>
                {% if SOCIAL %}
                    <h3>Connect</h3>
                    {% for name,url in SOCIAL %}
                    <p><a href="{{ url }}">{{ name }}</a></p>
                    {% endfor %}
                    {% if GITHUB_USER %}
                        <iframe src="http://githubbadge.appspot.com/badge/{{ GITHUB_USER }}?a=0" frameBorder=0></iframe>
                    {% endif %}
                {% endif %}
                {% if tags|length > 1 %}
                    <h3>Tags</h3>
                    {% for t, null in tags %}
                        <a href="{{ SITEURL }}/{{ t.url }}">{{ t }}</a>
                    {% endfor %}
                {% endif %}
                {% if BLOGROLL|length > 0 %}
                    <h3>Blogroll</h3>
                    {% for name,link in BLOGROLL %}
                    <p><a href="{{ link }}">{{ name }}</a></p>
                    {% endfor %}
                {% endif %}
            </aside>
        </div>
    </div>
    <div class="foot-divider"></div>
    <footer id="footer">
        <div id="foot-text">
            <p><b>{{ SITENAME }}</b>, a weblog by <b>{{ AUTHOR }}</b></p>
        </div>
    </footer>
</body>
</html>
